@model List<User>

@{
  ViewData["Title"] = "Admin Panel";
}

@section LoginPartial
{
  <div class="col-lg-1 col-12 h4 mt-auto">
    <a class="text-black text-decoration-none" asp-action="Logout">Logout</a>
  </div>
}

<form>
  <div class="btn-group mb-1 d-flex">
    <button type="button" class="btn btn-warning block-users">
      <i class="bi-x-circle "></i> Block
    </button>
    <button type="button" class="btn btn-success unblock-users">
      <i class="bi-check-circle "></i> Unblock
    </button>
    <button type="button" class="btn btn-danger delete-users">
      <i class="bi-eraser"></i> Delete
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><input class="form-check-input" type="checkbox" id="checkAll"></th>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Last Login time</th>
          <th>Registration time</th>
        </tr>
      </thead>
      <tbody>
        @foreach (User user in Model)
        {
          <tr>
            <td><input class="form-check-input userSelect" type="checkbox" id="userSelect@(user.Id)"></td>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>

              @if (user.UserStatus == Status.Blocked)
              {
                <span class="text-danger">@Status.Blocked.ToString()</span>
              }
              else
              {
                <span class="text-success">@Status.Active.ToString()</span>
              }
            </td>
            <td>@user.LastLoginDate</td>
            <td>@user.CreatedDate</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</form>

<script>
  document.querySelector('#checkAll').addEventListener('click',
    () => document.querySelectorAll('.userSelect').forEach(check => check.checked = document.querySelector('#checkAll').checked));

  // Block
  document.querySelector('.block-users').addEventListener('click',
    () => {
      let url = '?';
      for (let el of document.querySelectorAll('.userSelect:checked')) {
        url += 'userId=' + el.id.slice(10) + '&';
      }
      url = url.slice(0, -1);
      window.location.href = '../' + 'Home/Block' + url;
    });

  // Unblock
  document.querySelector('.unblock-users').addEventListener('click',
    () => {
      let url = '?';
      for (let el of document.querySelectorAll('.userSelect:checked')) {
        url += 'userId=' + el.id.slice(10) + '&';
      }
      url = url.slice(0, -1);
      window.location.href = '../' + 'Home/Unblock' + url;
    });

  // Delete
  document.querySelector('.delete-users').addEventListener('click',
    () => {
      let url = '?';
      for (let el of document.querySelectorAll('.userSelect:checked')) {
        url += 'userId=' + el.id.slice(10) + '&';
      }
      url = url.slice(0, -1);
      window.location.href = '../' + 'Home/Delete' + url;
    });
</script>